<h1>Subject Info</h1>
<div>
  <p>Name is <%= @subject.name %></p>
  <p>Number of credits in the course <%= @subject.credits %></p>
  <p>Code for subject is <%= @subject.code %></p>
  <p>It was created at <%= @subject.created_at %></p>
</div>